<% provide(:title, 'Sign up') %>
<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title %> | Ruby on Rails Sample App)</title>
</head>
  <body>
    <h1>Sign up</h1>

    <header class='navbar navbar-fixed-top navbar-inverse'>
      <div class='container'>
        <%= link_to "StackJoverflow", '/', id: "logo" %>
        <nav>
          <ul class='nav navbar-nav navbar-right'>
            <% if logged_in? %>
            <li><%= link_to 'Ask a Question', new_post_path %></li>
            <li><%= link_to 'Question Index', posts_path %></li>
            <li><%= link_to 'Logout', logout_path %></li>
            <% else %>
            <li><%= link_to 'Login', login_path %></li>
            <% end %>
          </ul>
        </nav>
        </div>
    </header>

    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <%= simple_form_for(@user, url: signup_path) do |f| %>
          <%= f.input :name, input_html: {class: 'form-control'} %>
          <%= f.input :email, input_html: {class: 'form-control'} %>
          <%= f.input :password, input_html: {class: 'form-control'} %>
          <%= f.input :password_confirmation, input_html: {class: 'form-control'} %>
          <%= f.submit "Create my account", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </body>
</html>
