<% provide(:title, 'The Question Box') %>

<body>

    <header class='navbar navbar-fixed-top navbar-inverse'>
      <div class='container'>
        <%= link_to "StackJoverflow", '/', id: "logo" %>
        <nav>
          <ul class='nav navbar-nav navbar-right'>
            <% if logged_in? %>
            <li><%= link_to 'Ask a Question', new_post_path %></li>
            <li><%= link_to 'Question Index', posts_path %></li>
            <li><%= link_to 'Logout', logout_path %></li>
            <% else %>
            <li><%= link_to 'Login', login_path %></li>
            <% end %>
          </ul>
        </nav>
        </div>
    </header>

    <div class="center jumbotron">
      <h1><strong>The Question Box</strong></h1>
        <p>Got questions? We've got answers!</p>
        <%= link_to "Sign up now!", 'signup', class: "btn btn-lg btn-primary" %>
    </div>
    <hr />

    <% @posts.each do |post| %>
    <h2><strong><%= link_to post.title, post %></strong></h2>

    <p>
      <%= markdown(post.body) %>
    </p>
    <h5>Published: <%= post.published_at %></h5>

    <% if post != @posts.last %>
      <hr/>
      <% end %>
    <% end %>
    </body>
