<% provide(:title, "Question") %>
<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title %> | Ruby on Rails Sample App)</title>
</head>
<body>
  <header>
    <h1><%= @post.title %></h1>
    <header class='navbar navbar-fixed-top navbar-inverse'>
    <div class="container">
      <%= link_to "StackJoverflow", '/', id: "logo" %>
      <nav>
        <ul class='nav navbar-nav navbar-right'>
          <% if logged_in? %>
          <li><%= link_to 'Ask a Question', new_post_path %></li>
          <li><%= link_to 'Question Index', posts_path %></li>
          <li><%= link_to 'Logout', logout_path %></li>
          <% else %>
          <li><%= link_to 'Login', login_path %></li>
          <% end %>
        </ul>
      </nav>
    </div>
    <hr/>
  </header>

  <p>
    <%= markdown(@post.body) %>
  </p>
  <h4>Published: <%= @post.published_at %></h4>
  </body>
</html>
